/East2WestToursAndTravels-ejb/build/
/East2WestToursAndTravels-ejb/dist/
/East2WestToursAndTravels-ejb/nbproject/private/
/nbproject/private/
/East2WestToursAndTravels-war/nbproject/private/
/East2WestToursAndTravels-war/build/
/dist/
/build/
/East2WestToursAndTravels-war/dist/